<footer>
   <!--  <img src="images/maniac_black.png" alt="" height="50px" style="inline-block">-->
   Made with <span class="iconify" data-icon="bx:coffee" data-width="30"></span>
    <div> <a href="/impressum">Datenschutz</a> </div>
</footer>